{% extends 'base.html.twig' %}

{% block title %}Demand{% endblock %}

{% block body %}
    <h1>Demand</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demand.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ demand.subject }}</td>
            </tr>
            <tr>
                <th>Party</th>
                <td>{{ demand.party }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ demand.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('demand_index') }}">back to list</a>

    <a href="{{ path('demand_edit', {'id': demand.id}) }}">edit</a>

    {{ include('demand/_delete_form.html.twig') }}
{% endblock %}
